@import './src/common/styles/sass/variables';

.item {
  position: relative;
  display: flex;
  margin: 20px;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  background-color: $itemBGColor;
  width: 350px;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.5s;
  user-select: none;

  &::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background-color: black;
    opacity: 0;
  }

  &:hover::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background-color: black;
    opacity: 0.9;
  }

  .photo {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .spanCont {
    position: absolute;
    display: flex;
    flex-direction: row;
    inset: 0 0 0 0;
    align-items: center;
    width: 100%;
    height: 100%;

    .description {
      width: 100%;
      height: content-box;
      padding: 10px;
      font-size: 20px;
      opacity: 0;
    }

    &:hover .description {
      opacity: 1;
      transition: 0.5s;
    }
  }
}




