@import './src/common/styles/sass/variables';

.mainContainer {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background: transparent;
  left: -100px;
  width: 80px;
  height: 320px;
  bottom: 80px;
  z-index: 3;

  .linksContainer {
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    transition: ease 0.5s;
    right: 130%;

    &.linksActive {
      right: -130%;
      transition: ease 0.5s;
    }
  }

  .mark {
    position: absolute;
    margin: 20px 0 0 0;
    right: 10px;
    top: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 5;

    &:hover {
      margin: 22px 2px 2px 2px;
      width: 36px;
      height: 36px;

      &:active {
        margin: 24px 4px 4px 4px;
        width: 32px;
        height: 32px;
      }
    }
  }

  .burgerContainer {
    position: relative;
    right: -130%;
    transition: all 0.5s ease;
    opacity: 1;

    &.activeBurgerContainer {
      right: 150%;
      opacity: 0;
    }

    .burger {
      position: relative;
      margin: 20px 0 0 0;
      right: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      z-index: 5;

      &:hover {
        margin: 22px 2px 2px 2px;
        width: 36px;
        height: 36px;

        &:active {
          margin: 24px 4px 4px 4px;
          width: 32px;
          height: 32px;
        }
      }
    }
  }

}