@import './src/common/styles/sass/variables';

.mainContainer {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 320px;
  bottom: 80px;
  z-index: 3;

  .linksContainer {
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    transition: ease 0.5s;
    right: 100%;

    &.linksActive {
      right: 0;
      transition: ease 0.5s;
    }
  }

  .mark {
    margin: 0 10px 0 0;
    align-self: flex-end;
    position: relative;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 5;

    &:hover {
      margin: 2px 12px 2px 2px;
      width: 9px;
      height: 9px;

      &:active {
        margin: 23px 13px 3px 3px;
        width: 8px;
        height: 8px;
      }
    }
  }

  .burgerContainer {
    position: relative;
    right: 0;
    transition: all 0.5s ease;
    opacity: 1;

    &.activeBurgerContainer {
      right: 150%;
      opacity: 0;
    }

    .burger {
      position: relative;
      margin: 20px 0 0 0;
      right: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      z-index: 5;

      &:hover {
        margin: 22px 2px 2px 2px;
        width: 36px;
        height: 36px;

        &:active {
          margin: 23px 3px 3px 3px;
          width: 34px;
          height: 34px;
        }
      }
    }
  }


}