@import './src/common/styles/sass/variables';

.title {
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-size: 32px;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        margin-top: 10px;
        width: 60%;
        background-color: $descriptionColor;
        height: 1px;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    h2 {
        margin: 0;
    }
}
