@import './src/common/styles/sass/variables';

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  z-index: 2;
  transition: 0.5s;

  &.active {
    transform: scale(1);
    transition: 0.5s;
  }

  .content {
    padding: 0 20px 20px 20px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 3px;
    background-color: $itemBGColor;
    width: 80%;
    transition: 0.5s;

    .closeContainer {
      height: 30px;
      margin: 10px 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .bufer {
        border: 2px solid $itemBGColor;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        transition: all 0.5s;

        &:hover {
          height: 30px;
          width: 30px;
          margin: 0;
          border-color: $customInputOutlineActive;
        }

        &:hover .close {
          height: 20px;
          width: 20px;
        }

        .close {
          background-size: cover;
          height: 16px;
          width: 16px;
          transition: all 0.2s ease;
        }
      }
    }

    @media screen and (min-width: 750px) {
      width: 60%;
    }

    @media screen and (min-width: 1000px) {
      width: 50%;
    }

    @media screen and (min-width: 1300px) {
      width: 700px;
    }
  }
}