.mainBlock {
    height: 100vh;
    padding: 10% 0 10% 0;
}

.introduction {
    width: 350px;
    background-color: rgba(159,168,171,0.76);
}

.photo {
    width: 400px;
    height: 60%;
    background-color: rgba(159,168,171,0.76);
    text-align: center;
}