@import './src/common/styles/sass/variables';

.mainBlock {
  min-height: 100vh;
  padding: 10% 0 10% 0;
  color: $headColor;

  .introduction {
max-width: 500px;
  }

  .photo {
    width: 40%;
    height: auto;
    background-color: rgba(159, 168, 171, 0.76);
    text-align: center;

    @media screen and (max-width: 1042px) {
      width: 60%;
    }

    @media screen and (max-width: 750px) {
      width: 75%;
    }

    @media screen and (max-width: 500px) {
      width: 90%;
    }
  }
}



