@import './src/common/styles/sass/variables';

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: $itemBGColor;
  width: 340px;
  box-sizing: border-box;
  padding: 20px;

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: background 0.5s;

    &:hover::after {
      position: absolute;
      content: '';
      background-color: black;
      opacity: 0.3;
      inset: 0 0 0 0;
      cursor: pointer;
    }
  }

  .childrenImage {
    margin: 0 auto 10px;
    border-radius: 3px;
    width: 90%;
    height: 300px;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .description {
    text-align: center;
    margin: 10px 0;
    padding: 10px
  }
}




