@import '/src/common/styles/sass/variables';

.nav {
    display: flex;
    justify-content: space-between;
    width: 300px;

    & a {
        color: $inputTextColor;

        &:hover {
            color: $customInputOutlineActive;
            text-decoration: underline;
        }
    }
}