@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

$fontFamily: 'Jost', Arial, Helvetica, sans-serif;
$headColor: #ddd;
$descriptionColor: #888;
$bodyBGColor: #1d1b19;
$itemBGColor: #181715;
$hoveredInputBorder: #888;
$inputTextColor: #ccc;
$customInputOutlineActive: #987750;